Clean and merge the merge_df

In [2]:
import pandas as pd

In [3]:
airlines= pd.read_csv('airlines.csv')
airplanes= pd.read_csv('airplanes.csv')
airports = pd.read_csv('airports.csv')
routes =  pd.read_csv('routes.csv')

kjdhfuidhgsfuds

In [4]:
# Drop the first column and reset the index
airlines_df = airlines.drop(airlines.columns[0], axis=1).reset_index(drop=True)
airports_df= airports.drop(airports.columns[0], axis=1).reset_index(drop=True)
airports_df = airports_df.drop(['Type', 'Source'], axis=1)
routes_df= routes.drop(routes.columns[0], axis=1).reset_index(drop=True)
airplanes_df= airplanes.drop(airplanes.columns[0], axis=1).reset_index(drop=True)

In [7]:
merge_df_1 = pd.merge(routes_df, airports_df, left_on="Source airport", right_on="IATA")
merge_df_1 = merge_df_1.rename(columns={"Country": "Source country","Latitude": "latitude_source","Longitude": "longitude_source"})
merge_df_1.head(5)

,Airline,Airline ID,Source airport,Source airport ID,Destination airport,Destination airport ID,Codeshare,Stops,Equipment,Airport ID,...,City,Source country,IATA,ICAO,latitude_source,longitude_source,Altitude,Timezone,DST,Tz database time zone
0,2B,410,AER,2965,KZN,2990,NaN,0,CR2,2965,...,Sochi,Russia,AER,URSS,43.449902,39.9566,89,3,N,Europe/Moscow
1,7J,9531,AER,2965,DYU,2979,NaN,0,735,2965,...,Sochi,Russia,AER,URSS,43.449902,39.9566,89,3,N,Europe/Moscow
2,9U,1073,AER,2965,KIV,1735,NaN,0,EM2,2965,...,Sochi,Russia,AER,URSS,43.449902,39.9566,89,3,N,Europe/Moscow
3,B2,1478,AER,2965,MSQ,2954,NaN,0,735 CRJ,2965,...,Sochi,Russia,AER,URSS,43.449902,39.9566,89,3,N,Europe/Moscow
4,HY,5281,AER,2965,TAS,2983,NaN,0,767,2965,...,Sochi,Russia,AER,URSS,43.449902,39.9566,89,3,N,Europe/Moscow

In [17]:
# Assuming merge_df is your DataFrame
column_names = merge_df_1.columns.tolist()

# Print or use the column names as needed
print(column_names)

['Airline', 'Airline ID', 'Source airport', 'Source airport ID', 'Destination airport', 'Destination airport ID', 'Codeshare', 'Stops', 'Equipment', 'Airport ID', 'Name', 'City', 'Source country', 'IATA', 'ICAO', 'latitude_source', 'longitude_source', 'Altitude', 'Timezone', 'DST', 'Tz database time zone']

In [19]:
merge_df_2 = pd.merge(merge_df_1,airports_df[["IATA", "Country", "Latitude", "Longitude"]],left_on="Source airport",right_on="IATA")
merge_df_2 = merge_df_2.rename(columns={'IATA_x':"IATA", "Country": "Destination country","Latitude": "latitude_destination","Longitude": "longitude_destination"})
merge_df_2

,Airline,Airline ID,Source airport,Source airport ID,Destination airport,Destination airport ID,Codeshare,Stops,Equipment,Airport ID,...,latitude_source,longitude_source,Altitude,Timezone,DST,Tz database time zone,IATA_y,Destination country,latitude_destination,longitude_destination
0,2B,410,AER,2965,KZN,2990,NaN,0,CR2,2965,...,43.449902,39.956600,89,3,N,Europe/Moscow,AER,Russia,43.449902,39.956600
1,7J,9531,AER,2965,DYU,2979,NaN,0,735,2965,...,43.449902,39.956600,89,3,N,Europe/Moscow,AER,Russia,43.449902,39.956600
2,9U,1073,AER,2965,KIV,1735,NaN,0,EM2,2965,...,43.449902,39.956600,89,3,N,Europe/Moscow,AER,Russia,43.449902,39.956600
3,B2,1478,AER,2965,MSQ,2954,NaN,0,735 CRJ,2965,...,43.449902,39.956600,89,3,N,Europe/Moscow,AER,Russia,43.449902,39.956600
4,HY,5281,AER,2965,TAS,2983,NaN,0,767,2965,...,43.449902,39.956600,89,3,N,Europe/Moscow,AER,Russia,43.449902,39.956600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67252,ZL,4178,TRO,6794,GFN,6792,NaN,0,SF3,6794,...,-31.888599,152.514008,38,10,U,Australia/Sydney,TRO,Australia,-31.888599,152.514008
67253,ZL,4178,TRO,6794,SYD,3361,NaN,0,SF3,6794,...,-31.888599,152.514008,38,10,U,Australia/Sydney,TRO,Australia,-31.888599,152.514008
67254,ZL,4178,WIN,6337,LRE,6289,NaN,0,SF3,6337,...,-22.363600,143.085999,638,10,O,Australia/Brisbane,WIN,Australia,-22.363600,143.085999
67255,ZL,4178,WIN,6337,TSV,3330,NaN,0,SF3,6337,...,-22.363600,143.085999,638,10,O,Australia/Brisbane,WIN,Australia,-22.363600,143.085999
67256,ZL,4178,WYA,6334,ADL,3341,NaN,0,SF3,6334,...,-33.058899,137.514008,41,9.5,O,Australia/Adelaide,WYA,Australia,-33.058899,137.514008

In [20]:
# Assuming merge_df is your DataFrame
column_names = merge_df_2.columns.tolist()

# Print or use the column names as needed
print(column_names)

['Airline', 'Airline ID', 'Source airport', 'Source airport ID', 'Destination airport', 'Destination airport ID', 'Codeshare', 'Stops', 'Equipment', 'Airport ID', 'Name', 'City', 'Source country', 'IATA', 'ICAO', 'latitude_source', 'longitude_source', 'Altitude', 'Timezone', 'DST', 'Tz database time zone', 'IATA_y', 'Destination country', 'latitude_destination', 'longitude_destination']

In [24]:
merge_df_2 = merge_df_2.dropna(subset=["Source country", "Destination country"])
merge_df_2

,Airline,Airline ID,Source airport,Source airport ID,Destination airport,Destination airport ID,Codeshare,Stops,Equipment,Airport ID,...,latitude_source,longitude_source,Altitude,Timezone,DST,Tz database time zone,IATA_y,Destination country,latitude_destination,longitude_destination
0,2B,410,AER,2965,KZN,2990,NaN,0,CR2,2965,...,43.449902,39.956600,89,3,N,Europe/Moscow,AER,Russia,43.449902,39.956600
1,7J,9531,AER,2965,DYU,2979,NaN,0,735,2965,...,43.449902,39.956600,89,3,N,Europe/Moscow,AER,Russia,43.449902,39.956600
2,9U,1073,AER,2965,KIV,1735,NaN,0,EM2,2965,...,43.449902,39.956600,89,3,N,Europe/Moscow,AER,Russia,43.449902,39.956600
3,B2,1478,AER,2965,MSQ,2954,NaN,0,735 CRJ,2965,...,43.449902,39.956600,89,3,N,Europe/Moscow,AER,Russia,43.449902,39.956600
4,HY,5281,AER,2965,TAS,2983,NaN,0,767,2965,...,43.449902,39.956600,89,3,N,Europe/Moscow,AER,Russia,43.449902,39.956600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67252,ZL,4178,TRO,6794,GFN,6792,NaN,0,SF3,6794,...,-31.888599,152.514008,38,10,U,Australia/Sydney,TRO,Australia,-31.888599,152.514008
67253,ZL,4178,TRO,6794,SYD,3361,NaN,0,SF3,6794,...,-31.888599,152.514008,38,10,U,Australia/Sydney,TRO,Australia,-31.888599,152.514008
67254,ZL,4178,WIN,6337,LRE,6289,NaN,0,SF3,6337,...,-22.363600,143.085999,638,10,O,Australia/Brisbane,WIN,Australia,-22.363600,143.085999
67255,ZL,4178,WIN,6337,TSV,3330,NaN,0,SF3,6337,...,-22.363600,143.085999,638,10,O,Australia/Brisbane,WIN,Australia,-22.363600,143.085999
67256,ZL,4178,WYA,6334,ADL,3341,NaN,0,SF3,6334,...,-33.058899,137.514008,41,9.5,O,Australia/Adelaide,WYA,Australia,-33.058899,137.514008

In [25]:
#Drop the columns that I dont need
merge_df_2.drop(columns=['IATA_y'], inplace=True)

In [26]:
# Assuming merge_df is your DataFrame
column_names = merge_df_2.columns.tolist()

# Print or use the column names as needed
print(column_names)

['Airline', 'Airline ID', 'Source airport', 'Source airport ID', 'Destination airport', 'Destination airport ID', 'Codeshare', 'Stops', 'Equipment', 'Airport ID', 'Name', 'City', 'Source country', 'IATA', 'ICAO', 'latitude_source', 'longitude_source', 'Altitude', 'Timezone', 'DST', 'Tz database time zone', 'Destination country', 'latitude_destination', 'longitude_destination']

In [50]:
merge_df_3=pd.merge(merge_df_2,airlines_df,left_on="Airline",right_on="IATA")
merge_df_3 = merge_df_3.rename(columns={'Name_y':"Name Airline",'IATA_x':'IATA', 'ICAO_x':'ICAO','Name_x':'Airport Name','Airline ID_x':'Airline ID'})
merge_df_3.drop(columns=['Airline ID_y', 'IATA_y','ICAO_y','Alias','Airport ID','Timezone', 'DST', 'Tz database time zone'], inplace=True)
merge_df_3

,Airline,Airline ID,Source airport,Source airport ID,Destination airport,Destination airport ID,Codeshare,Stops,Equipment,Airport Name,...,latitude_source,longitude_source,Altitude,Destination country,latitude_destination,longitude_destination,Name Airline,Callsign,Country,Active
0,2B,410,AER,2965,KZN,2990,NaN,0,CR2,Sochi International Airport,...,43.449902,39.956600,89,Russia,43.449902,39.956600,Aerocondor,AEROCONDOR,Portugal,Y
1,2B,410,ASF,2966,KZN,2990,NaN,0,CR2,Astrakhan Airport,...,46.283298,48.006302,-65,Russia,46.283298,48.006302,Aerocondor,AEROCONDOR,Portugal,Y
2,2B,410,ASF,2966,MRV,2962,NaN,0,CR2,Astrakhan Airport,...,46.283298,48.006302,-65,Russia,46.283298,48.006302,Aerocondor,AEROCONDOR,Portugal,Y
3,2B,410,CEK,2968,KZN,2990,NaN,0,CR2,Chelyabinsk Balandino Airport,...,55.305801,61.503300,769,Russia,55.305801,61.503300,Aerocondor,AEROCONDOR,Portugal,Y
4,2B,410,CEK,2968,OVB,4078,NaN,0,CR2,Chelyabinsk Balandino Airport,...,55.305801,61.503300,769,Russia,55.305801,61.503300,Aerocondor,AEROCONDOR,Portugal,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76868,TY,2825,TOU,2003,GEA,2001,NaN,0,DHT,Touho Airport,...,-20.790001,165.259003,10,New Caledonia,-20.790001,165.259003,Iberworld,NaN,Spain,Y
76869,TY,2825,UVE,2004,GEA,2001,NaN,0,ATR DHT,Ouvéa Airport,...,-20.640600,166.572998,23,New Caledonia,-20.640600,166.572998,Air Cal,AIRCAL,France,N
76870,TY,2825,UVE,2004,GEA,2001,NaN,0,ATR DHT,Ouvéa Airport,...,-20.640600,166.572998,23,New Caledonia,-20.640600,166.572998,Iberworld,NaN,Spain,Y
76871,TY,2825,UVE,2004,LIF,2000,NaN,0,DHT,Ouvéa Airport,...,-20.640600,166.572998,23,New Caledonia,-20.640600,166.572998,Air Cal,AIRCAL,France,N
76872,TY,2825,UVE,2004,LIF,2000,NaN,0,DHT,Ouvéa Airport,...,-20.640600,166.572998,23,New Caledonia,-20.640600,166.572998,Iberworld,NaN,Spain,Y

In [51]:
# Assuming merge_df is your DataFrame
column_names = merge_df_3.columns.tolist()

# Print or use the column names as needed
print(column_names)

['Airline', 'Airline ID', 'Source airport', 'Source airport ID', 'Destination airport', 'Destination airport ID', 'Codeshare', 'Stops', 'Equipment', 'Airport Name', 'City', 'Source country', 'IATA', 'ICAO', 'latitude_source', 'longitude_source', 'Altitude', 'Destination country', 'latitude_destination', 'longitude_destination', 'Name Airline', 'Callsign', 'Country', 'Active']

In [55]:
airplanes_df = airplanes_df.rename(columns={'IATA code':"IATA"})
merge_df=pd.merge(merge_df_3,airplanes_df, how="left")
merge_df

,Airline,Airline ID,Source airport,Source airport ID,Destination airport,Destination airport ID,Codeshare,Stops,Equipment,Airport Name,...,Altitude,Destination country,latitude_destination,longitude_destination,Name Airline,Callsign,Country,Active,Name,ICAO code
0,2B,410,AER,2965,KZN,2990,NaN,0,CR2,Sochi International Airport,...,89,Russia,43.449902,39.956600,Aerocondor,AEROCONDOR,Portugal,Y,NaN,NaN
1,2B,410,ASF,2966,KZN,2990,NaN,0,CR2,Astrakhan Airport,...,-65,Russia,46.283298,48.006302,Aerocondor,AEROCONDOR,Portugal,Y,NaN,NaN
2,2B,410,ASF,2966,MRV,2962,NaN,0,CR2,Astrakhan Airport,...,-65,Russia,46.283298,48.006302,Aerocondor,AEROCONDOR,Portugal,Y,NaN,NaN
3,2B,410,CEK,2968,KZN,2990,NaN,0,CR2,Chelyabinsk Balandino Airport,...,769,Russia,55.305801,61.503300,Aerocondor,AEROCONDOR,Portugal,Y,NaN,NaN
4,2B,410,CEK,2968,OVB,4078,NaN,0,CR2,Chelyabinsk Balandino Airport,...,769,Russia,55.305801,61.503300,Aerocondor,AEROCONDOR,Portugal,Y,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76924,TY,2825,TOU,2003,GEA,2001,NaN,0,DHT,Touho Airport,...,10,New Caledonia,-20.790001,165.259003,Iberworld,NaN,Spain,Y,NaN,NaN
76925,TY,2825,UVE,2004,GEA,2001,NaN,0,ATR DHT,Ouvéa Airport,...,23,New Caledonia,-20.640600,166.572998,Air Cal,AIRCAL,France,N,NaN,NaN
76926,TY,2825,UVE,2004,GEA,2001,NaN,0,ATR DHT,Ouvéa Airport,...,23,New Caledonia,-20.640600,166.572998,Iberworld,NaN,Spain,Y,NaN,NaN
76927,TY,2825,UVE,2004,LIF,2000,NaN,0,DHT,Ouvéa Airport,...,23,New Caledonia,-20.640600,166.572998,Air Cal,AIRCAL,France,N,NaN,NaN
76928,TY,2825,UVE,2004,LIF,2000,NaN,0,DHT,Ouvéa Airport,...,23,New Caledonia,-20.640600,166.572998,Iberworld,NaN,Spain,Y,NaN,NaN